APP_NAME="Mo Fashion Store Tests"
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mfbms_testing
DB_USERNAME=mfbms_test
DB_PASSWORD=
SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=sync
MAIL_MAILER=array
LOG_CHANNEL=single
